/build/
/build-vs/
/build-vs-aerv2/
/.vs/
/out/
*.suo
*.user
*.log
*.cbv.tsv
CyberpunkVRProxy.live.txt
CyberpunkVRProxy.log
tools/
releases/
*.py
docs/
memory/
package.json
.opencode/*
!.opencode/memory/
!.opencode/memory/*.md
